@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body, * {
  font-family: 'Lora', sans-serif !important;
}

pre, code, .shiny-text-output, .shiny-verbatim-output {
  font-family: monospace !important;
}

.body-header-1 {
  color: #2F4F4F !important;
  font-weight: bold !important;
  text-align: center !important;
}

.body-header-2 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-3 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-4 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

/* box around button groups */
.button-box {
  border: 1.5px solid #8B7355;
  border-radius: 5px;
  padding: 10px 10px 10px 10px; /* insides */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 auto 10px auto; /* outsides: top side bottom side */
  width: 100%;
  border-width: 1px;
}

/* border of sidebar panel */
.well {
  border: 2px solid #8B7355;
  border-radius: 5px;
  box-shadow: none;
  border-width: 1px;
}
