@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
  font-family: 'Lora', sans-serif !important;
}

/*
html, body, .container-fluid, .row, .col-sm-4, .col-sm-8 {
  background-color: #FFFEF2 !important;
  color: #282828;
}
*/

.body-header-1 {
  color: #2F4F4F !important;
  font-weight: bold !important;
  text-align: center !important;
}

.body-header-2 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-3 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

.body-header-4 {
  color: #2F4F4F !important;
  font-weight: bold !important;
}

/* box around button groups */
.button-box {
  border: 2px solid #243f3f;
  border-radius: 4px;
  padding: 10px 10px 10px 10px; /* insides */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 auto 10px auto; /* outsides: top side bottom side */
  width: 100%;
  border-width: 1px;
}

/* border of sidebar panel */
.well {
  border: 2px solid #243f3f;
  border-radius: 4px;
  /*box-shadow: none;*/
  border-width: 1px;
}

.action-button {
  color: #fff;
  background-color: #243f3f;
  border: 1px solid #000000 !important;
  border-radius: 10px;
  border-width: 3px,

  display: block;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  width: 100%;
}

/*
  width: 100%;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
*/
